@charset "utf-8";

@import url('reset.css');

#wrapper{width:100%; position:relative; overflow-x:hidden;}

#gnb{width:100%;  position:relative; height:120px; background:url(../images/gnb_960.png) top center no-repeat; z-index:1}
#gnb .main{ display:block; width:250px; height:80px; position:absolute; left:50%; top:40px; margin-left:-490px;}
#gnb .menu{display:block; width:470px; height:80px;position:absolute; left:50%; top:40px; margin-left:-220px;}
#gnb .com{display:block; width:129px; height:40px;position:absolute; left:50%; top:0; margin-left:361px;background:url(../images/btn_community.png) top center;}
#gnb .comBtn{width:129px; height:80px;position:absolute; left:50%; top:40px; margin-left:361px;background:url(../images/btn_dohwa.png) top center; display:none;}
#gnbActive{width:100%; height:252px;position:absolute; top:120px; z-index:2; display:none;background:url(../images/menu_960.png) top center;}
#gnbActive .active{display:block; width:100%; height:211px;}
#gnbActive .close{display:block; width:100%; height:41px;}


#contents{width:100%; height:1316px; background:url(../images/sub_contents.png) no-repeat center top #f0f0f0; z-index:1; position:relative;}
#contents .cal{ position:absolute; left:50%; top:177px; margin-left:265px; width:225px; height:243px; cursor:pointer;}
#contents .cal .pop{ position:absolute; left:-16px; top:107px; width:129px; height:62px; background:url(../images/sub_cal.png) top center no-repeat; opacity:0;}

#footer{ width:100%; height:143px; background:url(../images/footer_960.png) no-repeat center top;}



@media screen and (max-width:1240px){
	
	
}

