@charset "utf-8";

@import url('reset.css');

#wrapper{width:100%; overflow-x:hidden;margin:0 auto;}

#conWrap { width:1200px; margin:0 auto; position:relative; }
#conWrap:after { content:""; display:block; clear:both; }

#util { width:185px; height:120px; position:absolute; right:10px; top:0; background:url(../images/sub/util.png) no-repeat right top; z-index:1;}
#util .tooltip {width:114px; height:47px;position:absolute; right:56px; top:120px; background:url(../images/tooltip.png) no-repeat center top; z-index:2; display:none;}
#util .tooltipBtn {width:50px; height:55px;position:absolute; right:90px; top:70px; }

#gnb{ width:190px; height:410px; float:left; position:relative; background:url(../images/sub/gnb.png) no-repeat left top; }
#gnb .main{ display:block; width:120px; height:100px; position:absolute; left:5px; top:0; z-index:100; }
#gnb .menu{ display:block; width:120px; height:300px;position:absolute; left:5px; top:100px; }

#content {float:right; overflow:hidden; width:1000px;}
#content .top{ width:100%; background:url(../images/sub/sub_title.png) no-repeat left top; height:185px; position:relative;}
#content .top .thumb{width:140px; background:url(../images/sub/sub_thumb1.jpg) no-repeat center top; height:40px; position:absolute; bottom:0; right:10px;}
#content .top .thumb.on{background:url(../images/sub/sub_thumb2.jpg) no-repeat center top;}
#content .top .thumb .left{ position:absolute; width:40px; height:40px; left:0; top:0;}
#content .top .thumb .right{ position:absolute; width:40px; height:40px; left:50px; top:0;}
#content .detail { width:100%; background:url(../images/sub/sub_detail.png) no-repeat center top; height:337px; }

#content .view{width:100%; height:544px; position:relative;}
#content .view .imageWrap{width:800px; height:544px; position:relative; cursor:pointer; margin:0 auto;}
#content .view .imageWrap .one{width:800px; height:544px; position:absolute; background:url(../images/sub/goods1.jpg) no-repeat center top;}
#content .view .imageWrap .two{width:800px; height:544px; position:absolute; background:url(../images/sub/goods2.jpg) no-repeat center top; opacity:0;}
#content .view .left{ position:absolute; width:50px; height:50px; left:0; top:238px; background:url(../images/sub/arrow_left.png) no-repeat center center;}
#content .view .right{ position:absolute; width:50px; height:50px; right:0; top:238px; background:url(../images/sub/arrow_right.png) no-repeat center center;}

#mouseTrailer{ width:202px; height:194px; background:url(../images/zoom_peaker.png) no-repeat center top; position:absolute; left:0; top:0; opacity:0;}

#popWrap{ width:100%;height:100%; background:#fff; position:fixed; left:0; top:0; z-index:1; display:none;}
#popWrap .pop{ width:100%; max-width:1200px; height:100%; margin:0 auto; position:relative;}
#popWrap .pop .thumb{width:140px; background:url(../images/sub/sub_thumb1.jpg) no-repeat center top; height:40px; position:absolute; top:40px; right:74px; z-index:1;}
#popWrap .pop .thumb.on{background:url(../images/sub/sub_thumb2.jpg) no-repeat center top;}
#popWrap .pop .thumb .left{ position:absolute; width:40px; height:40px; left:0; top:0;}
#popWrap .pop .thumb .right{ position:absolute; width:40px; height:40px; left:50px; top:0;}

#popWrap .pop .close{ position:absolute; width:40px; height:40px; right:0; top:40px; background:url(../images/sub/pop_close.png) no-repeat center center; z-index:1;}

#popWrap .pop .view{width:100%; height:100%; position:relative;}
#popWrap .pop .view .imageWrap{width:100%; height:100%; position:relative;}
#popWrap .pop .view .imageWrap .one{width:100%; height:100%; position:absolute; background:url(../images/sub/pop_goods1.jpg) no-repeat center center;}
#popWrap .pop .view .imageWrap .two{width:100%; height:100%; position:absolute; background:url(../images/sub/pop_goods2.jpg) no-repeat center center; opacity:0;}
#popWrap .pop .view .left{ position:absolute; width:50px; height:50px; left:0; top:50%; margin-top:-25px; background:url(../images/sub/arrow_left.png) no-repeat center center;}
#popWrap .pop .view .right{ position:absolute; width:50px; height:50px; right:0; top:50%; margin-top:-25px; background:url(../images/sub/arrow_right.png) no-repeat center center;}

#footer{ width:100%; height:169px; background:url(../images/footer.png) no-repeat center top;}




@media screen and (max-width:1200px){
	
	#conWrap { width:980px; margin:0 auto; position:relative; }
	
	#content {width:780px;}
	#content .top{ width:770px;}
	#content .top .thumb{right:0;}
	#content .detail { width:100%; background:url(../images/sub/sub_detail_960.png) no-repeat center top; height:484px; }
	
	#footer{background:url(../images/footer_960.png) no-repeat center top;}
	
}

