@charset "utf-8";

@import url('reset.css');

#wrapper{width:100%; overflow-x:hidden;margin:0 auto;}

#conWrap { width:1200px; margin:0 auto; position:relative; }
#conWrap:after { content:""; display:block; clear:both; }

#util { width:185px; height:120px; position:absolute; right:10px; top:0; background:url(../images/sub/util.png) no-repeat right top;}
#util .tooltip {width:114px; height:47px;position:absolute; right:56px; top:120px; background:url(../images/tooltip.png) no-repeat center top; z-index:2; display:none;}
#util .tooltipBtn {width:50px; height:55px;position:absolute; right:90px; top:70px; }

#gnb{ width:190px; height:410px; float:left; position:relative; background:url(../images/sub/gnb.png) no-repeat left top; }
#gnb .main{ display:block; width:120px; height:100px; position:absolute; left:5px; top:0; }
#gnb .menu{ display:block; width:120px; height:300px;position:absolute; left:5px; top:100px; }

#content { width:1000px; float:right; background:url(../images/sub/storybook.jpg) no-repeat center top; height:2770px; }


#footer{ width:100%; height:169px; background:url(../images/footer.png) no-repeat center top;}




@media screen and (max-width:1200px){
	
	#conWrap { width:980px; margin:0 auto; position:relative; }
	#content { width:780px; float:right; background:url(../images/sub/storybook_960.jpg) no-repeat center top; height:3334px; }
	#footer{background:url(../images/footer_960.png) no-repeat center top;}
	
}

