@charset "utf-8";

@import url('reset.css');

#wrapper{width:100%; max-width:1920px; overflow-x:hidden;margin:0 auto;}

#gnb{ width:100%; height:1091px; background:url(../images/gnb.png) no-repeat center top;}
#gnb .main{ display:block; width:120px; height:100px; position:absolute; left:50%; top:0; margin-left:-600px;}
#gnb .menu{display:block; width:120px; height:300px;position:absolute; left:50%; top:100px; margin-left:-600px;}
#gnb .more{display:block; width:280px; height:40px;position:absolute; left:50%; top:812px; margin-left:-590px;}
#gnb .tooltip{width:114px; height:47px;position:absolute; left:50%; top:118px; margin-left:419px; background:url(../images/tooltip.png) no-repeat center top; z-index:2; display:none;}
#gnb .tooltipBtn{width:50px; height:55px;position:absolute; left:50%; top:75px; margin-left:450px;}


#visual .shadow{width:691px; height:733px; position:absolute; left:50%; top:186px; margin-left:-117px;box-shadow: 20px 20px 40px rgba(0,0,0,0.4);}
#visual .imageWrap{width:780px; height:801px;position:absolute; left:50%; top:130px; margin-left:-190px; overflow:hidden; z-index:1;}
#visual .imageWrap .container{ position:absolute; left:0; top:0;}
#visual .imageWrap .one{width:780px; height:801px; position:absolute; left:0; top:0; background:url(../images/visual1.jpg) no-repeat center top;}
#visual .imageWrap .two{width:780px; height:801px; position:absolute; left:780px; top:0; background:url(../images/visual2.jpg) no-repeat center top;}

#visual .textWrap{width:400px; height:184px;position:absolute; left:50%; top:545px; margin-left:-590px; overflow:hidden;}
#visual .textWrap .container{ position:absolute; left:0; top:0;}
#visual .textWrap .one{width:400px; height:184px; position:absolute; left:0; top:0; background:url(../images/main_goods1.png) no-repeat center top;}
#visual .textWrap .two{width:400px; height:184px; position:absolute; left:400px; top:0; background:url(../images/main_goods2.png) no-repeat center top;}

#visual .ui{ width:779px; height:69px; position:absolute; top:852px; left:50%; margin-left:-289px; background:url(../images/ui.png) no-repeat top right; z-index:2;}
#visual .ui .left{ display:block; width:30px; height:45px; position:absolute; top:1px; right:60px;}
#visual .ui .right{ display:block; width:30px; height:45px; position:absolute; top:1px; right:0;}

#story{position:relative; width:100%; height:900px;}
#story .box{opacity:0;}
#story .shadow{width:982px; height:547px; position:absolute; left:50%; top:42px; margin-left:-883px;box-shadow: 25px 25px 40px rgba(0,0,0,0.4);}
#story .imageWrap{width:1070px; height:600px;position:absolute; left:50%; top:0; margin-left:-960px; overflow:hidden;}
#story .imageWrap .container{ position:absolute; left:0; top:0;}
#story .imageWrap .one{width:1070px; height:600px; position:absolute; left:0; top:0; background:url(../images/story1.jpg) no-repeat center top;}
#story .imageWrap .two{width:1070px; height:600px; position:absolute; left:1070px; top:0; background:url(../images/story2.jpg) no-repeat center top;}

#story .textWrap{width:850px; height:420px;position:absolute; left:50%; top:0; margin-left:110px; overflow:hidden; opacity:0;}
#story .textWrap .container{ position:absolute; left:0; top:0;}
#story .textWrap .one{width:850px; height:420px; position:absolute; left:0; top:0; background:url(../images/text1.png) no-repeat center top;}
#story .textWrap .two{width:850px; height:420px; position:absolute; left:850px; top:0; background:url(../images/text2.png) no-repeat center top;}

#story .conWrap{width:951px; height:320px;position:absolute; left:50%; top:420px; margin-left:9px; background:#1c2434; overflow:hidden; opacity:0;}
#story .conWrap .container{ position:absolute; left:0; top:0;}
#story .conWrap .one{width:951px; height:320px; position:absolute; left:0; top:0; background:url(../images/story_con1.png) no-repeat center top;}
#story .conWrap .two{width:951px; height:320px; position:absolute; left:951px; top:0; background:url(../images/story_con2.png) no-repeat center top;}
#story .conWrap .ui{ width:48px; height:14px; position:absolute; left:297px; top:266px; background:url(../images/indi.png) no-repeat center top;}
#story .conWrap .ui .left{ display:block; width:14px; height:14px; position:absolute; left:0; top:0;}
#story .conWrap .ui .right{ display:block; width:14px; height:14px; position:absolute; right:0; top:0;}
#story .conWrap .btnStory{ display:block; width:280px; height:40px; position:absolute; top:190px; left:181px;}

#goods{width:100%; height:1194px;}
#goods .tab{width:100%; height:33px; background:url(../images/tab1.png) no-repeat center top; position:relative;}
#goods .tab .left{ display:block; width:43px; height:33px; position:absolute; top:0; left:50%; margin-left:-357px;}
#goods .tab .right{ display:block; width:163px; height:33px; position:absolute; top:0; left:50%;margin-left:-43px;}
#goods .goodsWrap{ width:100%; height:1161px; position:relative;}
#goods .goodsWrap .w1{width:100%; height:1161px;position:relative;background:url(../images/goods1.png) no-repeat center top;}
#goods .goodsWrap .w2{width:100%; height:1161px;position:relative;background:url(../images/goods2.png) no-repeat center top; display:none;}
#goods .goodsWrap .w1 .obj1{width:480px;height:400px; position:absolute; left:50%;top:101px; margin-left:-91px; background:url(../images/goods11.jpg) no-repeat right bottom; opacity:0;}
#goods .goodsWrap .w1 .obj2{width:479px;height:420px; position:absolute; left:50%; top:451px; margin-left:-491px; background:url(../images/goods12.jpg) no-repeat left bottom; opacity:0;}
#goods .goodsWrap .w1 .obj3{width:580px;height:360px; position:absolute; left:50%; top:661px; margin-left:-90px; background:url(../images/goods13.jpg) no-repeat right bottom; opacity:0;}

#goods .goodsWrap .w2 .obj1{width:479px;height:420px; position:absolute; left:50%;top:60px; margin-left:-190px; background:url(../images/goods21.jpg) no-repeat left bottom; opacity:0;}
#goods .goodsWrap .w2 .obj2{width:580px;height:360px; position:absolute; left:50%; top:640px; margin-left:-491px; background:url(../images/goods23.jpg) no-repeat center top; opacity:0;}
#goods .goodsWrap .w2 .obj3{width:480px;height:400px; position:absolute; left:50%; top:400px; margin-left:10px; background:url(../images/goods22.jpg) no-repeat right bottom; opacity:0;}

#goods .goodsWrap .ui .left{ display:block; width:100px; height:50px; position:absolute; top:515px; left:50%; margin-left:-600px;}
#goods .goodsWrap .ui .right{ display:block; width:100px; height:50px; position:absolute; top:515px; left:50%; margin-left:500px;}




/*#mouseTrailer{ width:202px; height:194px; background:url(../images/zoom_peaker.png) no-repeat center top; position:absolute; left:0; top:0; opacity:0;} */

#footer{ width:100%; height:169px; background:url(../images/footer.png) no-repeat center top;}



.animated {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.animated.delay2 {
  -webkit-animation-delay:.2s;
  animation-delay:.2s; 
}

.animated.delay3 {
  -webkit-animation-delay:.4s;
  animation-delay:.4s; 
}

@media screen and (max-width:1200px){
	
	#gnb{background:url(../images/gnb_960.png) no-repeat center top;}
	#gnb .main{ margin-left:-480px;}
	#gnb .menu{margin-left:-480px;}
	#gnb .more{margin-left:-480px;}
	#gnb .tooltip{margin-left:310px; background:url(../images/tooltip.png) no-repeat center top;}
	#gnb .tooltipBtn{margin-left:340px;}
	
	#visual .shadow{width:608px; height:801px;top:130px; margin-left:-128px;box-shadow: 25px 25px 54px rgba(0,0,0,0.4);}
	#visual .imageWrap{width:608px; height:801px;margin-left:-128px;}
	#visual .imageWrap .one{width:780px;background:url(../images/visual1.jpg) no-repeat left top;}
	#visual .imageWrap .two{width:780px;left:780px;background:url(../images/visual2.jpg) no-repeat left top;}
	
	#visual .textWrap{margin-left:-480px;}
	
	#visual .ui{ width:559px;margin-left:-179px;}
	#visual .ui .left{ display:block; width:30px; height:45px; position:absolute; top:1px; right:60px;}
	#visual .ui .right{ display:block; width:30px; height:45px; position:absolute; top:1px; right:0;}
	
	#story .shadow{width:975px; height:547px; position:absolute; margin-left:-960px;}
	#story .imageWrap{width:984px; margin-left:-960px;}
	#story .textWrap{margin-left:0;}
	
	#story .conWrap{margin-left:-77px;}
	#story .conWrap .one{background:url(../images/story_con1.png) no-repeat -20px top;}
	#story .conWrap .two{background:url(../images/story_con2.png) no-repeat -20px top;}
	#story .conWrap .ui{left:277px;}
	#story .conWrap .btnStory{left:161px;}
	
	#goods .goodsWrap .w1{background:url(../images/goods1_960.png) no-repeat center top;}
	#goods .goodsWrap .w2{background:url(../images/goods2_960.png) no-repeat center top; display:none;}
	#goods .goodsWrap .w1 .obj1{top:101px; margin-left:-91px; width:450px; height:370px;}
	#goods .goodsWrap .w1 .obj2{top:451px; margin-left:-411px;width:449px; height:390px;}
	#goods .goodsWrap .w1 .obj3{top:661px; margin-left:-140px;width:550px; height:330px;}
	
	#goods .goodsWrap .w2 .obj1{top:60px; margin-left:-167px; width:449px; height:390px;}
	#goods .goodsWrap .w2 .obj2{top:640px; margin-left:-411px; width:550px; height:330px;}
	#goods .goodsWrap .w2 .obj3{top:400px; margin-left:-40px; width:450px; height:370px;}
	
	#goods .goodsWrap .ui .left{margin-left:-480px;}
	#goods .goodsWrap .ui .right{margin-left:380px;}
	
	#footer{background:url(../images/footer_960.png) no-repeat center top;}
	
	
	
}

